{% macro render_book_card(book) %}
{% set start = book.resume_chapter if book.status == "in_progress" else 0 %}
<div class="book-card" data-book-id="{{ book.id }}" data-title="{{ book.title }}"
     data-href="/read/{{ book.id }}/{{ start }}" data-status="{{ book.status }}"
     data-archived="{{ 'true' if book.archived else 'false' }}"
     data-highlights="{{ book.highlights_list | tojson | forceescape }}">
    {% if book.cover_url %}
        <img class="book-cover" src="{{ book.cover_url }}" alt="" loading="lazy">
    {% else %}
        <div class="book-cover book-cover-placeholder">
            <span class="placeholder-title">{{ book.title }}</span>
            <svg class="icon" width="34" height="34"><use href="#icon-book"/></svg>
            {% if book.author %}<span class="placeholder-author">{{ book.author }}</span>{% endif %}
        </div>
    {% endif %}

    <div class="card-meta-row">
        <span class="progress-text{{ ' new-badge' if book.status == 'new' else '' }}" data-role="progress-text">
            {{ 'NEW' if book.status == 'new' else (book.progress ~ '%') }}
        </span>
        <button type="button" class="kebab-btn" data-role="menu-toggle" title="More"><svg class="icon" width="15" height="15"><use href="#icon-more-horizontal"/></svg></button>
    </div>
</div>
{% endmacro %}
